* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/* ---------------------navbar----------------- */
header {
  width: 100%;
  background-color: #202877;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}
header nav {
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 570px;
}
.logoElement {
  z-index: 100;
}
.logoElement img {
  width: 150px;
  cursor: pointer;
}
.logoElement p {
  color: white;
  position: absolute;
  top: 43px;
  left: 57px;
  font-size: 14px;
  letter-spacing: 0.5px;
}
#menuToggle {
  display: none;
}
.side-bar {
  display: block;
  position: fixed;
  top: -100%;
  right: 0;
  transition: top 0.4s ease;
  overflow-y: auto;
  text-align: end;
  padding-top: 15px;
  width: 100%;
  background-color: #202877;
  z-index: 1;
}
#menuToggle:checked + .fa-bars + .side-bar {
  display: block;
  top: 0;
}
.fa-bars,
.close-icon {
  cursor: pointer;
  color: white;
}
#menuToggle:checked ~ .fa-bars {
  display: none;
}
.menuForDekstop {
  display: none;
}
.menuBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  font-size: 18px;
  color: white;
  gap: 15px;
}
/* ---------------------main----------------- */
.computer-img-element {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: hidden;
  background-image: linear-gradient(
    to right,
    rgba(32, 40, 119, 0.95),
    rgba(55, 46, 149, 0.95),
    rgba(83, 49, 177, 0.9),
    rgba(114, 48, 205, 0.85),
    rgba(150, 41, 230, 0.95)
  );
}
.entry-text-mstock {
  color: white;
  padding: 85px 16px 25px 16px;
  max-width: 570px;
}
.entry-text-mstock p:first-child {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 15px;
}
.entry-text-mstock p:last-child {
  line-height: 28px;
  font-size: 16px;
}
.computer-image {
  padding: 100px 0 180px 0;
  text-align: center;
  z-index: 90;
}
.computer-image img {
  width: 80%;
}
.wave-image {
  width: 100%;
  position: absolute;
  bottom: -5px;
}
/* -------------------about-us------------------ */
.about-us {
  background: #f4f7fa;
  width: 100%;
  padding: 100px 16px 50px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us div {
  max-width: 570px;
}
.about-us div h2 {
  text-align: center;
  padding-bottom: 20px;
}
.about-us div p {
  color: #707070;
  text-align: center;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 25px;
}
/* ----------------------services---------------------- */
.services-container {
  width: 100%;
  padding-bottom: 50px;
}
.services-container h2 {
  padding: 50px 0 30px 0;
  text-align: center;
}
.services-cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  padding: 40px 0;
  width: 90%;
  height: 400px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-15px);
}
.icons-and-image {
  width: 100%;
  background-image: url(./Images/promo-icon-bg.svg);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-and-image .bezier-image {
  transform: rotate(-45deg);
  padding: 20px 0 40px 0;
  margin-left: 10px;
  width: 38px;
}
.icons-and-image .server-image {
  width: 40px;
}
.icons-and-image .support-image {
  width: 35px;
}
.icons-and-image img {
  width: 40px;
  padding: 20px 0 40px 0;
}
.card h4 {
  font-size: 18px;
  width: 60%;
  text-align: center;
}
.card p {
  color: #707070;
  width: 70%;
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  line-height: 25px;
}
.c9 {
  display: none;
}
/* ----------------------other-pages---------------------- */
.texts-in-left {
  background-image: url(./Images/about-bg-shape.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.only-size {
  margin-top: 100px;
}
.only-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.only-images a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.left-images {
  width: 90%;
}
.only-images img:first-child {
  margin-bottom: 10px;
}
.only-images a button {
  width: 150px;
  padding: 15px 25px;
  background-color: #6610f2;
  border: #6610f2;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-size: 14px;
  margin: 50px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease,
    transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.only-images a button:hover {
  border: 2px solid #6610f2;
  background-color: white;
  color: black;
  transform: scale(1.05);
  margin-bottom: 46px;
  /* margin bottom buton hover olanda divin hereketinin qarsisini alir */
}
.only-text {
  width: 100%;
}
.header-text-in-pages {
  text-align: end;
  padding-right: 16px;
}
.left-side-text {
  text-align: start;
  padding-right: 0;
}
.left-side-text h2 {
  padding-left: 16px;
}
.header-text-in-pages p {
  font-size: 28px;
  padding-left: 16px;
}
.text-parts {
  list-style: none;
  padding: 50px 16px 0 16px;
}
.text-parts li {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  padding-bottom: 30px;
}
.left-side-text-parts li {
  justify-content: start;
  text-align: start;
}
.text-parts li img {
  width: 34px;
  height: 34px;
}
.text-parts li p {
  color: #707070;
  font-size: 14px;
}
.more-button-element,
.least-button-element {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-button-element button,
.least-button-element button {
  border-radius: 30px;
  border: 2px solid #6610f2;
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.more-button-element button:hover,
.least-button-element button:hover {
  transform: scale(1.05);
}
.more-button-element button p,
.least-button-element button p {
  color: #6610f2;
  padding: 10px 35px;
}
.more-button-element button p:hover,
.least-button-element button p:hover {
  color: white;
}
.more-button-element button:hover,
.least-button-element button:hover {
  background-color: #6610f2;
}
.fa-arrow-down,
.fa-arrow-up {
  padding: 0 5px;
}
/* --------------------------packets-------------------- */
.packets-container {
  width: 100%;
}
.only-background-shape {
  background-image: url(./Images/shape-bg-right.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 40px;
}
.packets-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.only-text-packets {
  text-align: center;
  padding: 50px 16px 30px 16px;
}
.only-text-packets h2 {
  padding-bottom: 20px;
}
.only-text-packets p {
  line-height: 25px;
  color: #707070;
}
.default-normal-card,
.default-hover-card {
  width: 90%;
  height: 800px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
}
.default-hover-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-top: 4px solid #9629e6;
}
.default-normal-card:hover {
  border-top: 4px solid #9629e6;
}
.default-normal-card p,
.default-hover-card p {
  color: rgb(132, 146, 166);
}
.default-normal-card h4,
.default-hover-card h4 {
  padding: 30px 0;
  font-size: 20px;
}
.basic-image-element {
  padding-bottom: 50px;
  border-bottom: 1px solid #e7e7e7;
}
.basicImage {
  width: 120px;
}
.about-cards-packets {
  padding: 30px;
}
.about-cards-packets p {
  font-size: 14px;
  padding-bottom: 10px;
  line-height: 25px;
}
.more-information-element {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-information-element p {
  font-size: 14px;
  color: rgb(132, 146, 166);
  padding: 0 16px;
  text-align: center;
  line-height: 25px;
}
.more-information-element p a {
  color: #9629e6;
  cursor: pointer;
  text-decoration: none;
}
.default-hover-card {
  transform: scale(1.02);
  transition: border-radius 0.3s ease;
}
.default-normal-card {
  transition: transform 0.9s ease, box-shadow 0.9s ease;
}
.default-normal-card:hover {
  transform: scale(1.02);
  transition: border-radius 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.9s ease;
  border-radius: 20px;
}
.default-hover-card:hover {
  border-radius: 20px;
}
/* -------------------contact---------------- */
.contact-us-container {
  background: #f4f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.contact-texts {
  padding: 0 16px;
}
.contact-texts h2 {
  font-size: 24px;
  padding-bottom: 20px;
}
.contact-texts p {
  color: #707070;
  line-height: 25px;
  font-size: 14px;
}
.contact-texts p:last-child {
  padding: 20px 0;
}
.contact-texts p:last-child a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}
.inputs-container {
  width: 100%;
}
.inputs-container p {
  font-size: 18px;
  font-weight: 600;
  padding: 0 16px;
  padding-bottom: 20px;
}
form {
  padding: 0 16px 20px 16px;
}
form input::placeholder {
  color: #bcbcbc;
}
form input {
  display: block;
  width: 100%;
  padding: 17px 10px;
  border: 1px solid #e7e7e7;
  margin-bottom: 15px;
  border-radius: 5px;
}
form input:first-child {
  margin-bottom: 30px;
}
form input:nth-child(4) {
  margin-top: 30px;
}
form textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  padding: 10px 5px;
}
form textarea::placeholder {
  color: #bcbcbc;
}
.send-button {
  margin-top: 30px;
  width: auto;
  background-color: #6610f2;
  color: white;
  padding: 15px 28px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease;
}
.send-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #6610f2;
  transform: scale(1.05);
}
/* -------------------footer------------------------- */
footer {
  width: 100%;
}
.footer-element {
  background-image: linear-gradient(
    to right,
    rgba(32, 40, 119, 0.95),
    rgba(55, 46, 149, 0.95),
    rgba(83, 49, 177, 0.9),
    rgba(114, 48, 205, 0.85),
    rgba(150, 41, 230, 0.95)
  );
}
.footer-wrapper {
  padding: 50px 16px;
  width: 100%;
  margin: auto;
}
.mstock-footer-logo img {
  width: 280px;
}
.contact-informations {
  padding-top: 50px;
  color: white;
  gap: 10px;
}
.mail-and-web-elements {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.mail-element li:first-child {
  padding-bottom: 20px;
}
.mail-element li:first-child p {
  font-size: 18px;
  font-weight: 600;
}
.mail-element li:last-child {
  display: flex;
  align-items: center;
  gap: 5px;
}
.mail-element li:last-child img {
  width: 20px;
}
.mail-element li:last-child p {
  font-size: 14px;
}
.web-element-first li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.web-element-first li img {
  width: 20px;
}
.web-element-first li p {
  font-size: 14px;
}
.web-element-second {
  display: none;
}
.sosial-network {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.sosial-network li img {
  width: 15px;
}
.footer-text {
  padding: 20px 16px;
}
.footer-text p {
  color: #707070;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
}
.footer-text p a {
  color: #3b546e;
  text-decoration: none;
  cursor: pointer;
}
/* ----------------------------------------------- */
@media screen and (min-width: 471px) {
  .logoElement img {
    width: 200px;
  }
  .logoElement p {
    top: 53px;
    left: 70px;
    font-size: 16px;
  }
  /* ------------------footer----------------- */
  .contact-informations {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .web-element-first {
    display: none;
  }
  .web-element-second {
    display: block;
  }
  .web-element-second li {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .web-element-second li img {
    width: 20px;
  }
  .web-element-second li p {
    font-size: 14px;
  }
  .sosial-network {
    padding-top: 0;
  }
}
@media screen and (min-width: 570px) {
  .computer-image img {
    width: 500px;
  }
  .entry-text-mstock p:first-child {
    font-size: 38px;
    line-height: 50px;
  }
  .entry-text-mstock p:last-child {
    font-size: 20px;
  }
  .about-us div h2 {
    font-size: 35px;
  }
  .services-container h2 {
    font-size: 35px;
  }
  .card {
    width: 250px;
  }
  .services-cards {
    padding: 0 16px;
    width: 570px;
    margin: auto;
  }
  .only-images {
    width: 570px;
  }
  .only-text {
    width: 570px;
  }
  .header-text-in-pages h2 {
    font-size: 35px;
  }
  .header-text-in-pages p {
    font-size: 32px;
  }
  .only-text-packets h2 {
    font-size: 35px;
  }
  .only-text-packets p {
    font-size: 18px;
    width: 570px;
  }
  .default-normal-card,
  .default-hover-card {
    width: 570px;
  }
  .contact-texts {
    width: 570px;
  }
  .inputs-container {
    width: 570px;
  }
  .contact-texts h2 {
    font-size: 35px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  form input {
    width: 47%;
    margin-bottom: 0;
  }
  form input:first-child {
    margin-bottom: 0;
    margin-right: 32px;
  }
  form input:nth-child(3) {
    margin: 30px 0;
    margin-right: 32px;
  }
  form input:nth-child(4) {
    margin: 30px 0;
  }
  form textarea {
    margin: 10px 0;
  }
  .footer-wrapper {
    width: 570px;
  }
}
@media screen and (min-width: 768px) {
  header nav {
    width: 768px;
  }
  .logoElement img {
    width: 300px;
  }
  .logoElement p {
    top: 75px;
    left: 98px;
    font-size: 14px;
  }
  .text-and-computer-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  .computer-img-element {
    height: 620px;
  }
  .entry-text-mstock {
    width: 430px;
  }
  .computer-image img {
    margin-top: 50px;
    width: 300px;
  }
  .about-us div {
    max-width: 760px;
  }
  .card {
    width: 220px;
    height: 450px;
  }
  .services-cards {
    width: 768px;
  }
  .c9 {
    display: block;
    box-shadow: none;
  }
  .c9-image {
    display: none;
  }
  .c9 h4 {
    display: none;
  }
  .only-size {
    width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .only-images-left-side a {
    width: 460px;
  }
  .only-images-right-side a {
    width: 400px;
  }
  .only-images-left-side {
    width: 500px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .only-images-right-side {
    width: 500px;
    align-items: end;
    padding-right: 16px;
  }
  .text-parts li p {
    width: 380px;
  }
  .left-images {
    width: 300px;
  }
  .only-images button {
    margin-top: 100px;
  }
  .packets-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px 20px 20px;
  }
  .default-normal-card,
  .default-hover-card {
    width: 230px;
    height: 920px;
  }
  .only-text-packets p {
    width: 480px;
  }
  .contact-us-container {
    flex-direction: unset;
    justify-content: center;
    align-items: start;
  }
  form input {
    width: 46%;
  }
  .contact-texts {
    width: 300px;
  }
  .inputs-container {
    width: 468px;
  }
  .footer-wrapper {
    width: 768px;
  }
}
@media screen and (min-width: 992px) {
  header {
    background-color: transparent;
    /* -----------------js-kodu-------------- */
    /* background-image: linear-gradient(
      to right,
      rgba(32, 40, 119, 0.95),
      rgba(55, 46, 149, 0.95),
      rgba(83, 49, 177, 0.9),
      rgba(114, 48, 205, 0.85),
      rgba(150, 41, 230, 0.95)
    ); */
  }
  header nav {
    width: 992px;
  }
  .hamburgerBarContainer {
    display: none;
  }
  .menuForDekstop {
    display: flex;
    font-size: 18px;
    color: white;
    gap: 25px;
  }
  .computer-img-element {
    height: 810px;
    padding: 0;
  }
  .text-and-computer-elements {
    width: 980px;
    padding: 0;
  }
  .entry-text-mstock {
    width: 400px;
  }
  .computer-image {
    margin-top: 40px;
  }
  .computer-image img {
    width: 400px;
  }
  .about-us div {
    max-width: 980px;
  }
  .card {
    width: 220px;
    height: 450px;
  }
  .services-cards {
    width: 992px;
  }
  .c9 {
    display: none;
  }
  /* .only-images {
    margin-left: -70px;
  } */
  .only-text {
    padding-right: 16px;
    height: 650px;
  }
  .only-text-left-side {
    padding-left: 16px;
  }
  .header-text-in-pages {
    padding-right: 0;
  }
  .header-text-in-pages p {
    padding-left: 0;
  }
  .left-side-text h2 {
    padding-left: 0;
  }
  .text-parts {
    list-style: none;
    padding: 50px 0 0 0;
  }
  .left-images {
    width: 350px;
  }
  .only-size {
    width: 992px;
  }
  .only-text-packets p {
    width: 100%;
  }
  .default-normal-card,
  .default-hover-card {
    width: 300px;
    height: 850px;
  }
  .contact-us-container {
    padding: 100px 16px;
  }
  form input {
    width: 47.2%;
  }
  .contact-texts {
    width: 388px;
  }
  .inputs-container {
    width: 604px;
  }
  .footer-wrapper {
    width: 992px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .mstock-footer-logo img {
    width: 220px;
  }
  .contact-informations {
    width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  header nav {
    width: 1200px;
  }
  .menuForDekstop {
    font-size: 20px;
    gap: 50px;
  }
  .text-and-computer-elements {
    width: 1180px;
  }
  .entry-text-mstock {
    width: 500px;
  }
  .computer-image img {
    width: 600px;
  }
  .card h4 {
    width: 70%;
  }
  .card {
    width: 260px;
    height: 400px;
  }
  .services-cards {
    width: 1240px;
  }
  .texts-in-left {
    width: 102%;
  }
  .left-images {
    width: 450px;
  }
  .only-size {
    width: 1180px;
  }
  .only-text {
    padding-right: 16px;
  }
  .only-background-shape {
    width: 103%;
  }
  .default-normal-card,
  .default-hover-card {
    width: 370px;
    height: 830px;
  }
  form input {
    width: 47.6%;
  }
  .contact-texts {
    width: 469px;
  }
  .inputs-container {
    width: 731px;
  }
  .footer-wrapper {
    width: 1200px;
  }
  .mstock-footer-logo img {
    width: 250px;
  }
  .contact-informations {
    width: 800px;
  }
}
